@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@0,100..700;1,100..700&family=Poppins:ital,wght@0,100;0,300;0,400;0,600;0,700;1,100;1,300;1,400;1,600&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  color: #fff;
  background: #000;
}

h1,
h2,
h3,
h4 {
  font-weight: 400;
}

h1 {
  font-size: 2.5rem;
}

.page {
  max-width: 600px;
  margin: 3rem auto;
}

.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 2rem 0;
}

.title {
  text-align: center;
}

.page-title {
  margin-bottom: 1.5rem;
}

.wallet-info {
  border: solid 1px #fff;
  padding: 1rem;
  margin: 2rem 0;
}

.wallet-info div {
  word-wrap: break-word;
  color: #c7c724;
}

.blocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.block {
  border: solid 1px #fff;
  padding: 1rem;
  background: #333;
  word-wrap: break-word;
}

.transaction-info {
  display: flex;
  justify-content: space-between;
}

.btn-container {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border: none;
  background: rgb(122, 0, 0);
  color: rgb(248, 213, 148);
  border: solid 1px #fff;
  outline: none;
  cursor: pointer;
}
